# Maven
backend/target/
backend/*.jar
backend/*.war
backend/*.zip
backend/*.tar.gz

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Docker
.docker_data/
